.swiper-pagination {
  width: auto;
  top: unset;
  bottom: unset;
  right: unset;
  left: unset;
  position: unset;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  box-shadow: 0px 0px 8px 0px #365680;
  border: 2px solid #fff;
}

.swiper-pagination-bullet-active {
  background-color: white;
}



@keyframes slideIn {
  from { transform: translateY(100px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.animate-slideIn {
  animation: slideIn .6s ease-out forwards;
}